@import url(http://fonts.googleapis.com/css?family=Nunito:400,300);

html,
body {
  color: $base-font-colour;
  font-family: Nunito;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Nunito;
}

.calendar__hour {
  overflow: hidden;
  width: 100%;
}

.calendar__hour_label,
.calendar__event-empty,
.calendar__event {
  float: left;
  width: 10vw;
}

.example {
  align-items: center;
  background: url('/img/bg.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  color: #eee;
  display: flex;
  font-family: 'Bitter', serif;
  height: 100vh;
  justify-content: center;
  text-align: center;
}
