@import url(http://fonts.googleapis.com/css?family=Nunito:400,300);

html,
body {
  color: $base-font-colour;
  font-family: Nunito;
  background: url('../img/bg.jpg') no-repeat;
  background-size: cover;
  background-position: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $white;
  font-family: Nunito;
  text-align: center;
}

.main-container {
  margin: 0 auto;
  opacity: .9;
  width: 75vw;
}

.calendar {
  background: $calendar-background;
  padding: 1em;
  text-align: center;
}

.calendar__hour {
  display: flex;
  overflow: hidden;
  width: 100%;
}


.calendar__hour_label,
.calendar__event-empty,
.calendar__event {
  float: left;
  width: 10vw;
}

.calendar__event,
.calendar__event-empty {
  flex: 1;
  color: $white;
}

.calendar__event-turquoise {
  background: $turquoise;
}
.calendar__event-dark-blue {
  background: $dark-blue;
}
.calendar__event-green {
  background: $green;
}
.calendar__event-blue {
  background: $blue;
}
.calendar__event-purple {
  background: $purple;
}
.calendar__event:not(:last-child),
.calendar__event-empty:not(:last-child) {
  margin-right: 1em;
}

.calendar__remove-event {
  cursor: pointer;
}

.example {
  align-items: center;
  background: url('/img/bg.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  color: #eee;
  display: flex;
  font-family: 'Bitter', serif;
  height: 100vh;
  justify-content: center;
  text-align: center;
}
