/*
 * Colours
 */

$dark-gray: #333;
$light-gray: #eee;
$white: #fff;
$turquoise: #1abc9c;
$green: #2ecc71;
$blue: #3498db;
$purple: #9b59b6;
$dark-blue: #34495e;

$base-font-colour: $dark-gray;
$calendar-background: $light-gray;